<div fxLayout="column" fxLayoutAlign="center-center stretch">
  <div fxFlex="10">
    <mat-card>
      <div fxLayout="row">
        <mat-card-title>Cadastro de mesa</mat-card-title>
      </div>
      <mat-card-content>
        <form [formGroup]="itemForm" (ngSubmit)="save()" fxLayout="column" fxLayoutAlign="space-between" #form="ngForm">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field fxFlex=47.5>
              <input matInput required placeholder="Nome da Mesa" formControlName="nomeMesa">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field fxFlex=30>
              <input min="2" matInput required placeholder="Quantidade de Lugares" type="number" formControlName="quantidadeLugares">
              <span matPrefix></span>
            </mat-form-field>
            <mat-form-field fxFlex=30 floatLabel="always" appearance="none">
              <mat-label>Disponibilidade</mat-label>
              <mat-slide-toggle formControlName="disponivel"></mat-slide-toggle>
              <input matInput hidden />
            </mat-form-field>
          </div>
          <div mat-dialog-actions>
            <button mat-button color="primary" fxFlex="10" [disabled]="itemForm.invalid" type="submit">Salvar</button>
            <button mat-button color="warn" fxFlex="10" type="reset" (click)="cancel()">Cancelar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

