<div fxLayout="column" fxLayoutAlign="center-center stretch">
  <div fxFlex="10">
    <mat-card>
      <div fxLayout="row">
        <mat-card-title-group fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <mat-card-title>Lugares</mat-card-title>
          <mat-card-subtitle>
              <span>Mesas disponiveis.</span>
          </mat-card-subtitle>
      <button mat-icon-button color="primary" (click)="cadastrarItem()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title-group>
  </div>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="idMesa">
            <th mat-header-cell *matHeaderCellDef> #ID </th>
            <td mat-cell *matCellDef="let lugares"> {{lugares.idMesa}} </td>
          </ng-container>
          <ng-container matColumnDef="nomeMesa">
            <th mat-header-cell *matHeaderCellDef> Mesa </th>
            <td mat-cell *matCellDef="let lugares"> {{lugares.nomeMesa}} </td>
          </ng-container>
          <ng-container matColumnDef="quantidadeLugares">
            <th mat-header-cell *matHeaderCellDef> Quantidade de Lugares </th>
            <td mat-cell *matCellDef="let lugares"> {{lugares.quantidadeLugares}} </td>
          </ng-container>
          <ng-container matColumnDef="disponivel">
            <th mat-header-cell *matHeaderCellDef> Disponivel </th>
            <td mat-cell *matCellDef="let lugares"> 
              <mat-icon *ngIf="!lugares.disponivel" color="warn">lock</mat-icon>
              <mat-icon *ngIf="lugares.disponivel" style="color: rgb(53, 219, 150);">lock_open</mat-icon>  
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações </th>
            <td mat-cell *matCellDef="let lugares">
              <button mat-icon-button color="warn" aria-label="Deletar" (click)="DeleteItem(lugares)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" aria-label="Editar" (click)="editarItem(lugares)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>