<div fxLayout="column" fxLayoutAlign="center-center stretch">
  <div fxFlex="10">
    <mat-card>
      <div fxLayout="row">
        <mat-card-title-group fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <mat-card-title>Pedidos</mat-card-title>
          <mat-card-subtitle>
            <span>Todos os pedidos</span>
          </mat-card-subtitle>
          <button mat-icon-button color="primary" aria-label="atualizar" (click)="atualizar()">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card-title-group>
      </div>
      <mat-card-content class="overflow-x">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

          <ng-container matColumnDef="idComanda">
            <th mat-header-cell *matHeaderCellDef> ID Comanda </th>
            <td mat-cell *matCellDef="let pedidos"> #{{pedidos.idComanda}} </td>
          </ng-container>

          <ng-container matColumnDef="valorTotal">
            <th mat-header-cell *matHeaderCellDef> Valor Total </th>
            <td mat-cell *matCellDef="let pedidos">{{pedidos.valorTotal | currency:'BRL':true:'1.2-2' }} </td>
          </ng-container>

          <ng-container matColumnDef="mesa">
            <th mat-header-cell *matHeaderCellDef> Mesa </th>
            <td mat-cell *matCellDef="let pedidos">{{pedidos.reserva.nomeMesa }} </td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let pedidos">{{pedidos.reserva.nome }} </td>
          </ng-container>

          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data e Hora </th>
            <td mat-cell *matCellDef="let pedidos">{{pedidos.reserva.dataReserva | date:'dd/MM/yyyy HH:mm' }} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Finalizar</th>
            <td mat-cell *matCellDef="let pedidos">
              <button mat-icon-button color="warn" aria-label="Aceitar" (click)="fecharReserva(pedidos)">
                <mat-icon style="color: rgb(53, 219, 150);">done</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <mat-list>
                  <mat-list-item *ngFor="let item of element.pedidos">
                    <mat-icon color="primary" mat-list-icon>fastfood</mat-icon>
                    <div mat-line>Pedido: {{item.idPedido}}</div>
                    <div mat-line>{{item.nome}} - R${{item.precoCalculado}}</div>
                    
                    <button *ngIf="item.status === 'criado'" mat-button color="primary" aria-label="atualizar" (click)="emProgresso(item, element)">
                      <mat-icon>forward</mat-icon>
                      Em progresso
                    </button>

                    <button *ngIf="item.status === 'preparando'" mat-button style="color: rgb(53, 219, 150);" aria-label="atualizar" (click)="finalizar(item, element)">
                      <mat-icon>done_outline</mat-icon>
                      Finalizar
                    </button>

                    <p *ngIf="item.status === 'finalizado'" style="padding-left: 10px; color: rgb(53, 219, 150);">Pedido finalizado</p>

                  </mat-list-item>
                </mat-list>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>