<div class="background">
  <div class="login" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="login-box" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title-group fxLayout="column" fxLayoutAlign="center center">
        <img src="../../../assets/img/logo.svg" width="250" alt="Logo">
      </mat-card-title-group>
      <mat-card-content class="form" fxLayout="column">
        <mat-form-field class="input-box">
          <mat-label>Usuário</mat-label>
          <input matInput [(ngModel)]="login" placeholder="Digite seu usuário...">
        </mat-form-field>
        <mat-form-field class="input-box">
          <mat-label>Senha</mat-label>
          <input type="password" class="text-main" matInput [(ngModel)]="senha" placeholder="Digite sua senha...">
        </mat-form-field>
        <button mat-flat-button
        class="main"
        (click)="doLogin()"
        [disabled]="!login || !senha">Entrar</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
