<div fxLayout="column" fxLayoutAlign="center-center stretch">
  <div fxFlex="10">
    <mat-card>
      <div fxLayout="row">
        <mat-card-title-group fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <mat-card-title>FAQ</mat-card-title>
          <mat-card-subtitle>
              <span>Esclarecimento de dúvidas e contato</span>
          </mat-card-subtitle>
    </mat-card-title-group>
  </div>
      <mat-card-content>
          <div style="width: 90%; padding: 20px;">
            <h4>Bem vindos a página de contatos e esclarecimento de dúvidas da Mealtime!</h4>

            <h4>Sobre</h4>
            <p>Somos uma empresa recem chegada ao mercado que tem como objetivo trazer mais facilidade e simplicidade para clientes e restaurantes. Nós acreditamos que seu tempo é a coisa mais importante e por isso queremos trazer mais agilidade, competência e facilidade para todos!</p>

            <h4>Contatos</h4>
            <p>Capitais e áreas metropolitanas: (11) 45XX-XXXX</p>
            <p>Outras regiões: (11) 45XX-XXXX</p>
            
            <h4>Manual do restaurante</h4>
            <p>Para que você possa ter o máximo aproveitamento na utilização dos serviços da Mealtime, criamos um manual do restaurante. Abaixo você pode acompanhar um passo a passo com as principais dúvidas</p>

            <h4>Cadastro de itens do cardápio</h4>
            <p>Para realizar o cadastro de itens vá até o menu lateral e clique em "Cardápio". Na tela que será carregada você poderá acompanhar a lista de itens cadastrados, caso seja seu primeiro acesso essa lista estará vazia. Clique no botão de adicionar no canto superior esquerdo para adicionar itens. Na tabela cada item possui um botão de edição e exclusão dos itens</p>

            <h4>Cadastro de lugares do cardápio</h4>
            <p>Para realizar o cadastro de lugares vá até o menu lateral e clique em "Lugares". Na tela que será carregada você poderá acompanhar a lista de lugares cadastrados, caso seja seu primeiro acesso essa lista estará vazia. Clique no botão de adicionar no canto superior esquerdo para adicionar lugares. Na tabela cada mesa possui um botão de edição e exclusão dos itens</p>

            <h4>Área de Reservas</h4>
            <p>No menu lateral vá até o item "Reservas". Será aberta uma página com quatro abas. A primeira "Pendente" representa todas as reservas feitas por usuários que chegaram ao seu restaurante, ao lado de cada item existem dois botões o de aceitar e recusar, caso a reserva seja aceita ela ira para a aba "Aceitas" ou caso seja recusada para a aba "Canceladas". A aba "Finalizadas" representa todas as reservas que já foram fechadas para registro histórico. Em todas as abas é possível filtrar os resultados pela data em um filtro localizado no campo superio esquerdo</p>

            <h4>Área de pedidos</h4>
            <p>No menu lateral vá até o item "Pedidos". Será aberta uma página contendo todas as comandas abertas para o dia em questão. Cada item da tabela traz informações sobre a comanda, mesas, cliente e clicando sobre o item ele será expandido e mostrará todos os pedidos contidos nela</p>

            <h4>Área de Promoões</h4>
            <p>Para cadastrar uma nova promoção vá até o item "Promoções" no menu lateral, na tela que será aberta sera exibida uma lista com todos os itens cadastrados no cardápio do seu restaurante. Ao lado de cada item existe um botão de adicionar onde você poderá adicionar uma porcentagem de desconto a cada item</p>

            <h4>Área de Funcionários</h4>
            <p>No menu lateral clique no item "Funcionarios", na tela que será aberta existem todos os funcionários cadastrados no restaurante. Com esse cadastro seus funcionários poderão usar a aplicação mobile para criar comandas para clientes que não usaram o sistema ou mesmo reservar e fazer pedidos em uma mesa</p>

          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>