.toolbar{
  background-color: #fff;
  font-weight: bold;
}

.main-router{
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 5%;
}

.main{
  background-color: rgba(241, 239, 239, 0.938);
}

.tp-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width:100px;
}

mat-sidenav{
   width: 15%;
}

