<div fxLayout="column" fxLayoutAlign="center-center stretch">
  <div fxFlex="100">
    <mat-card>
      <mat-tab-group dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event_note</mat-icon>
            Pendente
          </ng-template>
          <div style="padding-top: 40px;">
            <mat-form-field color="accent">
              <mat-label>Selecione a data:</mat-label>
              <input (dateChange)="filtroData4($event)" matInput [matDatepicker]="picker4">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8">

            <ng-container matColumnDef="idReserva">
              <th mat-header-cell *matHeaderCellDef>#ID</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.idReserva}}
              </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.status}}
              </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="pagamentoApp">
              <th mat-header-cell *matHeaderCellDef>Pagamento pelo app?</th>
              <td mat-cell *matCellDef="let reserva">
                <mat-icon *ngIf="!reserva.pagamentoApp" color="warn">clear</mat-icon>
                <mat-icon *ngIf="reserva.pagamentoApp" style="color: rgb(53, 219, 150);">done</mat-icon>
              </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="dataReserva">
              <th mat-header-cell *matHeaderCellDef>Data e horário</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.dataReserva | date:'dd/MM/yyyy HH:mm' }}
              </td>
            </ng-container>
        
            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let reserva">
                <button mat-icon-button color="warn" aria-label="Aceitar" (click)="aceitarReserva(reserva)">
                  <mat-icon style="color: rgb(53, 219, 150);">done</mat-icon>
                </button>
                <button mat-icon-button color="warn" aria-label="Recusar" (click)="recusarReserva(reserva)">
                  <mat-icon>close</mat-icon>
                </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event_available</mat-icon>
            Aceita
          </ng-template>
          <mat-form-field color="accent">
            <mat-label>Selecione a data:</mat-label>
            <input (dateChange)="filtroData1($event)" matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

            <ng-container matColumnDef="idReserva">
              <th mat-header-cell *matHeaderCellDef>#ID</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.idReserva}}
              </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.status}}
              </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="pagamentoApp">
              <th mat-header-cell *matHeaderCellDef>Pagamento pelo app?</th>
              <td mat-cell *matCellDef="let reserva">
                <mat-icon *ngIf="!reserva.pagamentoApp" color="warn">clear</mat-icon>
                <mat-icon *ngIf="reserva.pagamentoApp" style="color: rgb(53, 219, 150);">done</mat-icon>
              </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="dataReserva">
              <th mat-header-cell *matHeaderCellDef>Data e horário</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.dataReserva | date:'dd/MM/yyyy HH:mm' }}
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event_busy</mat-icon>
            Cancelada
          </ng-template>
          <mat-form-field color="accent">
            <mat-label>Selecione a data:</mat-label>
            <input (dateChange)="filtroData2($event)" matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

            <ng-container matColumnDef="idReserva">
              <th mat-header-cell *matHeaderCellDef>#ID</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.idReserva}}
              </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.status}}
              </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="pagamentoApp">
              <th mat-header-cell *matHeaderCellDef>Pagamento pelo app?</th>
              <td mat-cell *matCellDef="let reserva">
                <mat-icon *ngIf="!reserva.pagamentoApp" color="warn">clear</mat-icon>
                <mat-icon *ngIf="reserva.pagamentoApp" style="color: rgb(53, 219, 150);">done</mat-icon>
              </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="dataReserva">
              <th mat-header-cell *matHeaderCellDef>Data e horário</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.dataReserva | date:'dd/MM/yyyy HH:mm' }}
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">history</mat-icon>
            Finalizada
          </ng-template>
          <mat-form-field color="accent">
            <mat-label>Selecione a data:</mat-label>
            <input (dateChange)="filtroData3($event)" matInput [matDatepicker]="picker3">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
          <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">

            <ng-container matColumnDef="idReserva">
              <th mat-header-cell *matHeaderCellDef>#ID</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.idReserva}}
              </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.status}}
              </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="pagamentoApp">
              <th mat-header-cell *matHeaderCellDef>Pagamento pelo app?</th>
              <td mat-cell *matCellDef="let reserva">
                <mat-icon *ngIf="!reserva.pagamentoApp" color="warn">clear</mat-icon>
                <mat-icon *ngIf="reserva.pagamentoApp" style="color: rgb(53, 219, 150);">done</mat-icon>
              </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="dataReserva">
              <th mat-header-cell *matHeaderCellDef>Data e horário</th>
              <td mat-cell *matCellDef="let reserva">
                {{reserva.dataReserva | date:'dd/MM/yyyy HH:mm' }}
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
