<div fxLayout="column" fxLayoutAlign="center-center stretch">
  <div fxFlex="100">
    <mat-card>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event_note</mat-icon>
            Pendente
          </ng-template>
          <app-pendente></app-pendente>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event_available</mat-icon>
            Aceita
          </ng-template>
          <app-aceita></app-aceita>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">event_busy</mat-icon>
            Cancelada
          </ng-template>
          <app-cancelada></app-cancelada>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">history</mat-icon>
            Finalizada
          </ng-template>
          <app-finalizada></app-finalizada>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
